# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.plan
.terraform.lock.hcl
.terraformrc
.terraformrc.json
terraform.rc
*.auto.tfvars
*.auto.tfvars.json
.terragrunt-cache/
.terraform-version

# Python
/venv

# Django
*.pyc
__pycache__/
*.pyo
*.sqlite3
*.log
.DS_Store
.env
media/
staticfiles/
